flask==2.0.1
requests==2.26.0
openpyxl==3.0.9
python-dotenv==0.19.0
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.23
reportlab==4.0.4
matplotlib==3.7.1
pandas==2.0.3
python-tk==0.1.0
pillow==9.5.0
python-docx==0.8.11
apscheduler==3.9.1
weasyprint==59.0
colour==0.1.5
